.raleway, .header__inner-menu a {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.montserrat, .bg__inner-text-big, .bg__inner-text-small, .about__inner-left-text, .expertise__inner-top-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

.yellowstripe, .about__inner-left-text::before, .expertise__inner-top-text::before, .vision__inner-right-top::before, .portfolio__inner-top-left, .team__inner h2::before, .price__inner-text:before, .contact__inner-left p::before, .footer__inner-logo::before {
  content: "";
  background-color: #FCBB08;
  width: 100px;
  position: absolute;
  height: 4px;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 30%;
}

* {
  box-sizing: border-box;
}

.white {
  background: white;
}

.black {
  background: #373A39;
}

.blacker {
  background: #373A39;
}

.blackest {
  background: #2c2e2d;
}

.blacktext {
  color: #373A39;
}

.whitetext {
  color: white;
}

.grey {
  background: #F6F8FA;
}

.blacktwo {
  background: #2c2e2d;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header__container {
  width: 1335px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__inner-menu {
  list-style: none;
}

.header__inner-menu li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.header__inner-menu a {
  text-decoration: none;
  padding: 15px 20px;
  position: relative;
}

.header__inner-menu a:after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FCBB08;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header__inner-menu a:hover:after {
  width: 50%;
  left: 23%;
}

.bg {
  background-image: url(img/headerbg.svg);
  background-size: cover;
  height: 752px;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
}

.bg__container {
  width: 1330px;
  margin: 0 auto;
}

.bg__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.bg__inner-text-big {
  margin-bottom: 17px;
  font-size: 100px;
  line-height: 122px;
}

.bg__inner-text-small {
  margin-bottom: 17px;
  color: #FCBB08;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 179px;
}

.bg__inner-toggle {
  outline: none;
  border: none;
  height: 60px;
  width: 60px;
  border: 1px solid black;
  background-size: contain;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s;
  border-radius: 100px;
}

.bg__inner-toggle:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.about {
  padding-top: 140px;
  padding-bottom: 140px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__inner-left-text {
  font-size: 48px;
  line-height: 75px;
  letter-spacing: -1.65px;
  position: relative;
}

.about__inner-right {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  width: 770px;
}

.expertise {
  padding-top: 130px;
}

.expertise__inner {
  display: flex;
  flex-direction: column;
}

.expertise__inner-top {
  margin-bottom: 95px;
}

.expertise__inner-top-text {
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  position: relative;
}

.expertise__inner-top-text::before {
  width: 6%;
}

.expertise__inner-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expertise__inner-mid-progress {
  background: white;
  padding: 10px;
  border-radius: 3px;
}

.expertise__inner-mid-progress-line {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
}

.expertise__inner-mid-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  width: 770px;
}

.expertise__inner-bottom {
  padding-top: 121px;
  padding-bottom: 160px;
  display: flex;
}

.expertise__inner-bottom-block {
  display: flex;
}

.expertise__inner-bottom-left {
  margin-right: 35px;
}

.expertise__inner-bottom-right-big {
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4.2875px;
  margin-bottom: 14px;
}

.expertise__inner-bottom-right-small {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  width: 285px;
}

.vision__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
}

.vision__inner-right {
  width: 370px;
  padding-top: 100px;
}

.vision__inner-right-top {
  margin-bottom: 67px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -1.65px;
  position: relative;
}

.vision__inner-right-bottom {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.vision__inner-left {
  background-image: url(img/img.svg);
  background-size: contain;
  height: 840px;
  width: 705px;
}

.portfolio {
  padding-top: 140px;
}

.portfolio__inner-top-left {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -1.65px;
  position: relative;
  width: 7%;
  margin-bottom: 15px;
}

.portfolio__inner-top-right-menu {
  list-style: none;
  display: flex;
}

.portfolio__inner-top-right-menu-item {
  margin-right: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 2px;
  color: #333333;
  cursor: pointer;
  position: relative;
}

.portfolio__inner-top-right-menu-item:after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FCBB08;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.portfolio__inner-top-right-menu-item:hover:after {
  width: 50%;
  left: 23%;
}

.portfolio__inner-bottom {
  padding-top: 103px;
  display: flex;
  flex-direction: column;
}

.portfolio__inner-bottom-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 912px;
}

.portfolio__inner-bottom-grid div {
  background-color: #EDEDED;
  display: flex;
  transition: 0.4s;
}

.portfolio__inner-bottom-grid div:hover {
  border: 13px solid #3b3b3b;
  background-color: #242121;
  background-image: url(img/title.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.6s;
}

.portfolio__inner-bottom-grid-item1 {
  grid-area: 1 / 1 / 3 / 2;
}

.portfolio__inner-bottom-grid-item2 {
  grid-area: 3 / 1 / 4 / 2;
}

.portfolio__inner-bottom-grid-item3 {
  grid-area: 1 / 2 / 2 / 3;
}

.portfolio__inner-bottom-grid-item4 {
  grid-area: 2 / 2 / 3 / 3;
}

.portfolio__inner-bottom-grid-item5 {
  grid-area: 3 / 2 / 4 / 3;
}

.portfolio__inner-bottom-grid-item6 {
  grid-area: 1 / 3 / 2 / 4;
}

.portfolio__inner-bottom-grid-item7 {
  grid-area: 2 / 3 / 4 / 4;
}

.portfolio__inner-bottom-grid-item8 {
  grid-area: 1 / 4 / 2 / 5;
}

.portfolio__inner-bottom-grid-item9 {
  grid-area: 2 / 4 / 4 / 5;
}

.portfolio__inner-bottom-unseen-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 20px;
  display: none;
}

.portfolio__inner-bottom-unseen-grid div {
  background-color: #EDEDED;
  display: flex;
  transition: 0.4s;
  height: 395px;
}

.portfolio__inner-bottom-unseen-grid div:hover {
  border: 13px solid #3b3b3b;
  background-color: #242121;
  background-image: url(img/title.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.6s;
}

.portfolio__inner-bottom-more {
  outline: none;
  border: none;
  margin-top: 40px;
  padding-top: 41px;
  padding-bottom: 41px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  transition: 0.3s;
  border: 1px solid #242121;
  cursor: pointer;
}

.portfolio__inner-bottom-more:hover {
  color: white;
  background-color: #242121;
  transition: 0.4s;
  border: 1px solid white;
}

.testimonials {
  padding-top: 130px;
  padding-bottom: 160px;
}

.testimonials__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonials__inner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 130px;
}

.testimonials__inner-text-top {
  font-family: Merriweather;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  width: 650px;
  margin-bottom: 50px;
}

.testimonials__inner-text-bottom {
  font-family: Merriweather;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  color: #9E9E9E;
}

.testimonials__inner-video-inner {
  background-image: url(img/video1.svg);
  width: 100%;
  height: 324px;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

.testimonials__inner-video-inner::after {
  content: "";
  position: absolute;
  background-image: url(img/arrow.svg);
  height: 65px;
  width: 55px;
  right: 48%;
  top: 40%;
}

.testimonials__inner-video-inner::after:hover {
  transform: scale(1.7);
}

.testimonials__inner-numbers {
  display: flex;
  padding-top: 160px;
  padding-bottom: 50px;
  justify-content: space-evenly;
  width: 100%;
}

.testimonials__inner-numbers-text {
  text-align: center;
}

.testimonials__inner-numbers-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
}

.testimonials__inner-numbers-text h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #00B2A0;
}

.featured {
  padding-top: 305px;
  padding-bottom: 305px;
}

.featured__inner {
  padding-left: 50px;
}

.featured__inner p {
  width: 704px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.featured__inner h1 {
  width: 559px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.team {
  padding-top: 120px;
  padding-bottom: 160px;
}

.team__inner h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  position: relative;
  margin-bottom: 120px;
}

.team__inner h2::before {
  width: 10%;
}

.team__inner-faces {
  display: flex;
  justify-content: space-between;
}

.team__inner-faces-block {
  text-align: center;
}

.team__inner-faces-block img {
  height: 400px;
  width: 330px;
  margin-bottom: 20px;
  transform: scale(1);
  transition: 0.4s;
  cursor: pointer;
}

.team__inner-faces-block img:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.team__inner-faces-block p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.team__inner-faces-block h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #C2C2C2;
}

.price {
  padding-top: 70px;
  padding-bottom: 160px;
}

.price__inner-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  position: relative;
  margin-bottom: 70px;
}

.price__inner-text:before {
  width: 10%;
}

.price__inner-blocks {
  display: flex;
  justify-content: space-around;
}

.price__inner-block {
  text-align: center;
  width: 370px;
  height: 583px;
  background: #FFFFFF;
  padding: 25px;
}

.price__inner-block-top {
  text-align: start;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
}

.price__inner-block h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 109px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #242121;
}

.price__inner-block h1::before {
  content: "$";
  font-size: 40px;
  display: flex;
}

.price__inner-block h1::after {
  content: "/ mo";
  font-size: 20px;
  display: flex;
}

.price__inner-block p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 30px;
}

.price__inner-block h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 80px;
}

.price__inner-block a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  text-decoration: none;
  transition: 0.3s;
}

.price__inner-block a:hover {
  color: black;
  transition: 0.3s;
  font-size: 16px;
}

.contact {
  padding-top: 30px;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
}

.contact__inner-left p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  position: relative;
  margin-bottom: 105px;
}

.contact__inner-left p::before {
  width: 50%;
}

.contact__inner-left-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contact__inner-left-inputs input {
  border: none;
  outline: none;
  border-bottom: 1px solid #373A39;
  height: 40px;
}

.contact__inner-left-inputs input:last-child {
  height: 156px;
}

.contact__inner-left button {
  outline: none;
  border: none;
  cursor: pointer;
  background: #242121;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 15px;
}

.contact__inner-right #map {
  height: 896px;
  width: 635px;
}

.footer {
  padding-top: 110px;
  padding-bottom: 100px;
}

.footer__inner-logo {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 85px;
}

.footer__inner-logo::before {
  left: 45%;
  width: 10%;
  top: 50px;
  height: 2px;
}

.footer__inner-menu {
  display: flex;
  justify-content: center;
}

.footer__inner-menu-list {
  display: flex;
  list-style: none;
  margin-bottom: 30px;
}

.footer__inner-menu-list a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  color: #FFFFFF;
  margin-right: 20px;
}

.footer__inner-info {
  text-align: center;
}

.footer__inner-info p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #A8A8A8;
}

.bottom {
  background: #1b1d1c;
  padding-top: 43px;
  padding-bottom: 41px;
}

.bottom__inner {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #CCCCCC;
}
/*# sourceMappingURL=styles.css.map */